@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-900 text-gray-200 font-sans antialiased selection:bg-accent selection:text-dark-900;
  }
}

@layer components {
  /* Minimal custom utility for scrollbars if needed */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
